{% extends 'admin/mail/mail_base.html.twig' %}

{% block title %}Nouveau Message{% endblock %}

{% block mail_content %}
        {{ form_start(form, {'attr': {'class': 'd-flex flex-column w-100 write-container'}}) }}
        <div class="write-container-in shadow flex-grow-1 d-flex flex-column flex-md-row flex-md-wrap">
            <div class="col-md-6 col-xxl-4 col-12 p-3 d-flex flex-column gap-2">
                <table>
                    <tbody>
                        <tr class="pb-3">
                            <td class="d-flex flex-row">
                                {{ form_label(form.toList) }}
                            </td>
                            <td>
                                <div class="d-flex flex-column">
                                    <div class="d-flex flex-row">
                                        <div class="d-flex flex-column flex-grow-1 me-2">
                                            <input id="add-toList-input" class="form-control mail-form-add mt-2" type="email"/>
                                            <div id="form-toList-error" class="invalid-feedback d-none"></div>
                                        </div>
                                        <div class="mt-2" style="width: 36px!important; height: 36px!important;">
                                            <span data-add-mail="toList" class="mail-button mail-add-button fa-solid fa-plus"></span>
                                        </div>
                                    </div>
                                    {{ form_widget(form.toList) }}
                                    {{ form_errors(form.toList) }}
                                </div>
                            </td>
                        </tr>
                        <tr class="pb-3">
                            <td class="d-flex flex-row">
                                {{ form_label(form.cc) }}
                            </td>
                            <td>
                                <div class="d-flex flex-column">
                                    <div class="d-flex flex-row">
                                        <div class="d-flex flex-column flex-grow-1 me-2">
                                            <input id="add-cc-input" class="form-control mail-form-add mt-2" type="email"/>
                                            <div id="form-cc-error" class="invalid-feedback d-none"></div>
                                        </div>
                                        <div class="mt-2" style="width: 36px!important; height: 36px!important;">
                                            <span data-add-mail="cc" class="mail-button mail-add-button fa-solid fa-plus"></span>
                                        </div>
                                    </div>
                                    {{ form_widget(form.cc) }}
                                    {{ form_errors(form.cc) }}
                                </div>
                            </td>
                        </tr>
                        <tr class="pb-3">
                            <td class="d-flex flex-row">
                                {{ form_label(form.cci) }}
                            </td>
                            <td>
                                <div class="d-flex flex-column">
                                    <div class="d-flex flex-row">
                                        <div class="d-flex flex-column flex-grow-1 me-2">
                                            <input id="add-cci-input" class="form-control mail-form-add mt-2" type="email"/>
                                            <div id="form-cci-error" class="invalid-feedback d-none"></div>
                                        </div>
                                        <div class="mt-2" style="width: 36px!important; height: 36px!important;">
                                            <span data-add-mail="cci" class="mail-button mail-add-button fa-solid fa-plus"></span>
                                        </div>
                                    </div>
                                    {{ form_widget(form.cci) }}
                                    {{ form_errors(form.cci) }}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="d-flex flex-row">
                                {{ form_label(form.attachments) }}
                            </td>
                            <td>
                                <div class="d-flex flex-column">
                                    <div class="d-flex flex-row">
                                        <div class="d-flex flex-column flex-grow-1 me-2">
                                            <label id="attachment-input-label" class="custom-file-label text-center mt-2">Ajouter un fichier...
                                                <input id="attachment-input" class="custom-file-input" type="file"/></label>
                                            <div id="form-attachments-error" class="invalid-feedback d-none"></div>
                                        </div>
                                        <div class="mt-2" style="width: 36px!important; height: 36px!important;">
                                        </div>
                                    </div>
                                    {{ form_widget(form.attachments) }}
                                    {{ form_errors(form.attachments) }}
                                </div>
                            </td>
                            <td class="d-flex flex-row">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6 col-xxl-8 col-12 p-3 d-flex flex-column">
                {{ form_row(form.subject) }}
                {{ form_row(form.message) }}

                <div class="d-flex flex-grow-1 p-3">
                    <div class="d-flex flex-row gap-2 ms-auto mt-auto">
                        {{ form_row(form.send) }}
                    </div>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
{% endblock %}