<html lang="fr" class="h-100">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" type="image/png" href="{{ asset('assets/images/logo.png') }}"/>
        <title> {% block title %}{% endblock %} | Angel x Devil</title>

        <link href="{{ asset("assets/css/app.css") }}" rel="stylesheet">
        {% block javascript %} {% endblock %}
    </head>
    <body class="h-100 d-flex flex-column p-0">
    <header>
        {% include 'admin/partials/header.html.twig' %}
    </header>

    {% block content %} {% endblock %}

    <footer class="mt-auto">
        {% include "admin/partials/footer.html.twig" %}
    </footer>

    {% if notifications is defined %}
        {% for notification in notifications %}
            <div class="{{ notification['type'] }}">{{ notification['message'] }}</div>
        {% endfor %}
    {% endif %}

    <script>
        const LOGGED = {% if app.user %}true{% else %}false{% endif %};

        const ROUTES = {
            app_home: '{{ path('app_home') }}',
            app_admin: '{{ path('app_admin') }}',
            app_admin_account_manager: '{{ path('app_admin_account_manager') }}',
            app_admin_product_manager: '{{ path('app_admin_product_manager') }}',
            app_admin_order_manager: '{{ path('app_admin_order_manager') }}',
            app_admin_site_stats: '{{ path('app_admin_site_stats') }}',
            app_admin_mailbox: '{{ path('app_admin_mailbox', {'box': 'box'}) }}',
            app_admin_mailbox_read: '{{ path('app_admin_mailbox_read', {'id': 0, 'box': 'box'}) }}',
            app_admin_mailbox_write: '{{ path('app_admin_mailbox_write') }}'
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://kit.fontawesome.com/ac8a9b7e7f.js" crossorigin="anonymous"></script>
    <script src="{{ asset("assets/js/bootstrap.bundle.min.js") }}"></script>
    <script src="{{ asset("assets/js/toastr.min.js") }}"></script>
    <script src="{{ asset("assets/js/app.js") }}"></script>
    </body>

{% block script %} {% endblock %}
</html>